[submodule "portfolio-projects/restaurant-demo-1"]
	path = portfolio-projects/restaurant-demo-1
	url = https://github.com/SaffronSushi/restaurant-demo-1
[submodule "portfolio-projects/web-shifter"]
	path = portfolio-projects/web-shifter
	url = https://github.com/SaffronSushi/web-shifter
