html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

figure {
    margin-left: 0;
}

/*
figure {
    background: #0002;
    display: inline-block;
    padding: 10px;
    width: 300px;
}

figure img {
    display: block;
    margin: auto;
    width: 100%;
}

figcaption {
    font-size: 0.9rem;
    font-weight: 600;
}
*/