html {
    font-family: serif;
}

body {
    background-color: #2a3946;
    color: #222;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20% 10px 20%;
}

p {
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, serif;
    font-weight: 700;
}

h1 {
    text-align: center;
    font-size: 4vw;
    flex: 1 1 300px;
}

h2 {
    font-size: 26px;
}

a {
    color: #9b3535;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-shadow: #0003 4px 4px 4px;
    letter-spacing: 1px;
}

hr {
    border: 2px solid #222;
}

img {
    box-shadow: #333 4px 4px 6px;
}

li {
    list-style-type: square;
}

header {
    background-color: #f1ebe3;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#selfie {
    border-radius: 16px;
    width: 20%;
    height: 100%;
    flex: 0.3 1 20%;
}

.bio-wrapper {
    margin: 20px 5% 0 5%;
    flex: 1 1 100%;
}

header button {
    background-color: #2a3946;
    font-family: sans-serif;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    padding: 6px;
}

header button:hover {
    background-color: #fff;
    color: #333;
    outline: none;
}

#bio {
    background-color: #fff;
    box-shadow: #333 2px 2px 6px;
    margin: 0 10px;
    padding: 2px 10px;
    border-radius: 0 10px 10px 10px;
}

main {
    background-color: #f1ebe3;
    border-radius: 5px;
    margin-top: 16px;
    padding: 10px 10px 10px 10px;
}

section {
    margin-bottom: 20px;
}

.home-link {
    color: #fff;
}

.portfolio-img {
    margin: 20px auto;
}

.contact a {
    font-size: 16px;
}

figure {
    margin-left: 0;
}

#social-media-para {
    font-size: 0.8rem;
}

#social-media-link {
    font-size: 0.8rem;
}

.play-button {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    box-shadow: #333 2px 2px 4px;
    border-radius: 4px;
    padding: 4px;
}

.play-button:hover{
    background-color: #333;
    color: #fff;
    letter-spacing: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    p {
        font-size: 1.2em;
    }

    h1 {
        font-size: 32px;
    }

    #selfie {
        width: 50%;
    }

    .portfolio-img {
        width: 80%;
        height: 100%;
    }

    section img {
        width: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        padding: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        padding: 10px 20% 10px 20%;
    }
}